.product-top-container {
  display: flex;
  position: relative;
  margin-bottom: 10rem;
}

/* LEFT PART of container */
.left-side {
  width: 50%;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin-top: 12rem;
}
.main-img-container {
  display: flex;
  justify-content: center;
  height: 400px;
}
.main-img {
  height: 100%;
  object-fit: cover;
}

.other-images-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 15rem;
}
.other-images-container button {
  border: none;
  background: transparent;
  cursor: pointer;
  height: 70%;
}
.other-images-container button:hover {
  outline: 1px solid rgb(145, 130, 130);
  outline-offset: 4px;
}
.other-images-container button:focus {
  outline: 2px solid black;
  outline-offset: 4px;
}
.other-images-container img {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* RIGHT PART of container */
.right-side {
  width: 50%;
  background: rgb(128, 128, 128, 0.25);
  padding: 5%;
}

.right-side .full-description {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.item-details-purchase {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 20%;
}
.quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
}
.quantity {
  display: flex;
  border: 1px solid black;
}

.item-quantity {
  font-weight: 700;
  width: 5rem;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background: transparent;
}

.quantity button,
.item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity button {
  background: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 3.6rem;
  width: 6rem;
  border: none;
  transition: all 0.15s;
}
.quantity button:hover {
  background: transparent;
}

.quantity-price {
  font-weight: 700;
}

.right-side h1 {
  position: absolute;
  left: 50%;
  top: 3.5rem;
  font-size: 3.2rem;
  transform: translateX(-50%);
}

.shop-buttons {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.shop-buttons button {
  width: 50%;
  text-transform: uppercase;
  padding: 5px 8px;
  height: 5.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.btn-black {
  border: 2px solid black;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.btn-black:hover {
  color: white;
  background-position: left;
}

.btn-buy {
  background: linear-gradient(to right, white 50%, #b6002c 50%);
  border: 2px solid #b6002c;
  color: white;
  background-size: 200% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

.btn-buy:hover {
  color: #b6002c;
  background-position: left;
}

/* MID SECTION */

.product-mid-container {
  display: flex;

  gap: 3rem;
}

.product-mid-container > div {
  padding: 2rem;
  font-size: 1.8rem;
  width: 100%;
  background: rgb(128, 128, 128, 0.25);
}

.product-mid-container h1 {
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .left-side {
    width: 100%;
  }
  .right-side {
    width: 100%;
  }
  .main-img {
    width: 100%;
  }
}

@media (max-width: 820px) {
  .product-top-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .quantity-container {
    flex-direction: column;
  }
  .right-side {
    width: 100%;
  }
  .right-side h1 {
    position: static;
    transform: translateX(0);
  }

  .item-details-purchase {
    margin-top: 10%;
  }
  /* .quantity-container {
    flex-direction: column-reverse;
  } */
  .product-mid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .quantity-container {
    font-size: 2rem;
  }
}

@media (max-width: 870px) {
  .quantity-container {
    flex-direction: column-reverse;
  }
  .right-side .quant {
    display: none;
  }
}
