.display-top {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin-block: 5rem;
}

.display-top select {
  width: 100px;
  padding-inline: 5px;
  border: none;
  background: rgba(128, 128, 128, 0.1);
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
}

.display-top select:focus,
.display-top select:active {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.all-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 750px) {
  .all-items-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .all-items-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .all-items-container {
    grid-template-columns: 1fr;
  }
}
