.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: none;
  height: 30rem;
  background: #191919;
  margin-top: auto;
  width: 100%;
}

input {
  font-family: inherit;
  min-width: 25rem;
}
.newsletter h1 {
  font-size: 3.8rem;
  color: white;
  font-weight: 600;
}

.newsletter form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 7px;
  height: 30px;
}
.newsletter button,
input {
  font-size: 1.7rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  border: 2px solid transparent;
  transition: 0.3s;
  outline: none;
}

.newsletter button:hover,
.newsletter button:active {
  border: 2px solid black;
  background: black;
  color: white;
}

@media (max-width: 500px) {
  .newsletter form {
    flex-direction: column;
    gap: 1.5rem;
    height: fit-content;
  }
  .newsletter button,
  input {
    width: fit-content;
  }
  .newsletter button {
    width: 100%;
  }
}
