.all-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.item {
  display: flex;
  flex-direction: column;
  outline: 2px solid rgba(0, 0, 0, 0.205);
  outline-offset: -2px;
  padding: 1.5rem;
  transition: all 0.2s ease-out;
  height: 100%;
}
.item:hover {
  outline: 2px solid rgba(0, 0, 0, 0.7);
}
.item img {
  width: 100%;
}

.item p {
  font-size: 2rem;
  margin-top: auto;
}

.item h1 {
  font-size: 2.5rem;
}

@media (max-width: 870px) {
  .all-items-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .all-items-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .all-items-container {
    grid-template-columns: 1fr;
  }
}
