.toast {
  position: fixed;
  left: 50%;
  background: #373737;
  top: -999px;
  padding: 10px;
  color: white;
  z-index: 999;
  transform: translateX(-50%);
}
.toast.slide-in {
  animation-duration: 4s;
  animation-delay: -1s;
  animation-name: slidein;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transition: 0.9s;
}

.toast h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  align-items: center;
  font-size: 1.8rem;
  white-space: nowrap;
}

@keyframes slidein {
  0% {
    top: -100%;
  }

  40% {
    top: 90px;
  }

  60% {
    top: 90px;
  }

  100% {
    top: -100%;
  }
}

@media (max-width: 400px) {
  .toast h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  .toast h1 {
    font-size: 1.4rem;
  }
}
