@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Blinker", sans-serif;
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: unset;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: #000000;
  background: transparent;
}
.not-found {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.not-found h1 {
  font-size: 4rem;
}
.not-found a {
  border: 2px solid white;
  background: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: 600;
  transition: 0.15s;
}

.not-found a:hover {
  border: 2px solid black;
  background: white;
  color: black;
}
